In [1]:
import csv

In [6]:
open_file= open('student data.csv' ,mode ='r')
open_file

In [7]:
reader = csv.reader(open_file)
reader

In [8]:
data = list(reader)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [9]:
data[0]

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [13]:
for i in data:
    print(i[0])

roll no
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150

In [14]:
for i in data:
    print(type(i[0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
for i in data:
    print (i[0])

roll no
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150

In [16]:
data[1:]

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [17]:
data[1][2]

'50'

In [18]:
for j in data[1:]:
    print(float(j[2]))

50.0
45.0
46.0
47.0
48.0
49.0
50.0
51.0
52.0
53.0
54.0
55.0
56.0
57.0
58.0
59.0
60.0
61.0
62.0
63.0
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
89.0
90.0
91.0
92.0
83.0

In [19]:
chem =[]
for j in data[1:]:
   chem. append(float(j[2]))

In [20]:
chem

[50.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 83.0]

In [21]:
sum(chem)

3421.0

In [22]:
len(chem)

50

In [23]:
avg = sum(chem)/len(chem)
avg

68.42

In [26]:
for per  in data[1:]:
    chem = float(per[2])
    phy = float(per[3])
    maths = float(per[4])
    percentage = (phy+maths+chem)/300*100
    print (percentage)

53.333333333333336
52.33333333333333
53.333333333333336
54.333333333333336
47.333333333333336
48.333333333333336
49.333333333333336
50.33333333333333
51.33333333333333
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
76.66666666666667
79.33333333333333
82.0
60.66666666666667
72.33333333333334
72.33333333333334
84.66666666666667
59.0
80.66666666666666
65.66666666666666
81.33333333333333
74.66666666666667
75.0
56.666666666666664
71.66666666666667
61.33333333333333

In [27]:
for per  in data[1:]:
    chem = float(per[2])
    phy = float(per[3])
    maths = float(per[4])
    percentage = round ((phy+maths+chem)/300*100,2)
    print (percentage)

53.33
52.33
53.33
54.33
47.33
48.33
49.33
50.33
51.33
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
76.67
79.33
82.0
60.67
72.33
72.33
84.67
59.0
80.67
65.67
81.33
74.67
75.0
56.67
71.67
61.33

In [30]:
for per  in data[1:]:
    chem = float(per[2])
    phy = float(per[3])
    maths = float(per[4])
    percentage = round ((phy+maths+chem)/300*100,2)
    per.append(percentage)

In [31]:
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87', 53.33, 53.33],
 ['102', 'Fareed', '45', '24', '88', 52.33, 52.33],
 ['103', 'Basit', '46', '25', '89', 53.33, 53.33],
 ['104', 'Abdullah', '47', '26', '90', 54.33, 54.33],
 ['105', 'Ali', '48', '27', '67', 47.33, 47.33],
 ['106', 'Mubashir', '49', '28', '68', 48.33, 48.33],
 ['107', 'Waleed', '50', '29', '69', 49.33, 49.33],
 ['108', 'Mansoor', '51', '30', '70', 50.33, 50.33],
 ['109', 'Zain', '52', '31', '71', 51.33, 51.33],
 ['110', 'Mohsin', '53', '67', '72', 64.0, 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0, 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0, 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0, 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0, 68.0],
 ['115', 'Hamna', '58', '72', '77', 69.0, 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0, 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0, 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0, 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0, 73.0],
 ['120', 'Danish', '63', '77', '82', 74.0, 74.0],
 ['121', 'Kainat', '64', '78', '83', 75.0, 75.0],
 ['122', 'Sameer', '65', '79', '84', 76.0, 76.0],
 ['123', 'Raza', '66', '80', '85', 77.0, 77.0],
 ['124', 'Kumar', '67', '81', '86', 78.0, 78.0],
 ['125', 'Komal', '68', '82', '87', 79.0, 79.0],
 ['126', 'Erum', '69', '83', '88', 80.0, 80.0],
 ['127', 'Faiza', '70', '84', '89', 81.0, 81.0],
 ['128', 'Saeed', '71', '85', '90', 82.0, 82.0],
 ['129', 'Waqar', '72', '86', '91', 83.0, 83.0],
 ['130', 'Wali', '73', '87', '92', 84.0, 84.0],
 ['131', 'Wajid', '74', '88', '93', 85.0, 85.0],
 ['132', 'Waseeb', '75', '89', '94', 86.0, 86.0],
 ['133', 'Shiza', '76', '90', '95', 87.0, 87.0],
 ['134', 'Shabina', '77', '91', '96', 88.0, 88.0],
 ['135', 'Shazain', '78', '55', '97', 76.67, 76.67],
 ['136', 'Lubna', '79', '61', '98', 79.33, 79.33],
 ['137', 'Laiba', '80', '88', '78', 82.0, 82.0],
 ['138', 'Khursheed', '81', '56', '45', 60.67, 60.67],
 ['139', 'Ali', '82', '89', '46', 72.33, 72.33],
 ['140', 'Aiza', '83', '45', '89', 72.33, 72.33],
 ['141', 'Aiman', '84', '92', '78', 84.67, 84.67],
 ['142', 'Yasmeen', '85', '36', '56', 59.0, 59.0],
 ['143', 'Tasbeel', '86', '78', '78', 80.67, 80.67],
 ['144', 'Laraib', '87', '56', '54', 65.67, 65.67],
 ['145', 'Saleem', '88', '78', '78', 81.33, 81.33],
 ['146', 'Bismil', '89', '89', '46', 74.67, 74.67],
 ['147', 'Batool', '90', '56', '79', 75.0, 75.0],
 ['148', 'Iqra', '91', '33', '46', 56.67, 56.67],
 ['149', 'Zarnish', '92', '78', '45', 71.67, 71.67],
 ['150', 'Zara', '83', '45', '56', 61.33, 61.33]]

In [ ]:
for per  in data[1:]:
    chem = float(per[2])
    phy = float(per[3])
    maths = float(per[4])
    percentage = round ((phy+maths+chem)/300*100,2)
    per.append(percentage)

In [33]:
header = data[0]
header

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [34]:
header.append('percentage')

In [35]:
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'percentage'],
 ['101', 'Aliza', '50', '23', '87', 53.33, 53.33],
 ['102', 'Fareed', '45', '24', '88', 52.33, 52.33],
 ['103', 'Basit', '46', '25', '89', 53.33, 53.33],
 ['104', 'Abdullah', '47', '26', '90', 54.33, 54.33],
 ['105', 'Ali', '48', '27', '67', 47.33, 47.33],
 ['106', 'Mubashir', '49', '28', '68', 48.33, 48.33],
 ['107', 'Waleed', '50', '29', '69', 49.33, 49.33],
 ['108', 'Mansoor', '51', '30', '70', 50.33, 50.33],
 ['109', 'Zain', '52', '31', '71', 51.33, 51.33],
 ['110', 'Mohsin', '53', '67', '72', 64.0, 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0, 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0, 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0, 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0, 68.0],
 ['115', 'Hamna', '58', '72', '77', 69.0, 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0, 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0, 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0, 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0, 73.0],
 ['120', 'Danish', '63', '77', '82', 74.0, 74.0],
 ['121', 'Kainat', '64', '78', '83', 75.0, 75.0],
 ['122', 'Sameer', '65', '79', '84', 76.0, 76.0],
 ['123', 'Raza', '66', '80', '85', 77.0, 77.0],
 ['124', 'Kumar', '67', '81', '86', 78.0, 78.0],
 ['125', 'Komal', '68', '82', '87', 79.0, 79.0],
 ['126', 'Erum', '69', '83', '88', 80.0, 80.0],
 ['127', 'Faiza', '70', '84', '89', 81.0, 81.0],
 ['128', 'Saeed', '71', '85', '90', 82.0, 82.0],
 ['129', 'Waqar', '72', '86', '91', 83.0, 83.0],
 ['130', 'Wali', '73', '87', '92', 84.0, 84.0],
 ['131', 'Wajid', '74', '88', '93', 85.0, 85.0],
 ['132', 'Waseeb', '75', '89', '94', 86.0, 86.0],
 ['133', 'Shiza', '76', '90', '95', 87.0, 87.0],
 ['134', 'Shabina', '77', '91', '96', 88.0, 88.0],
 ['135', 'Shazain', '78', '55', '97', 76.67, 76.67],
 ['136', 'Lubna', '79', '61', '98', 79.33, 79.33],
 ['137', 'Laiba', '80', '88', '78', 82.0, 82.0],
 ['138', 'Khursheed', '81', '56', '45', 60.67, 60.67],
 ['139', 'Ali', '82', '89', '46', 72.33, 72.33],
 ['140', 'Aiza', '83', '45', '89', 72.33, 72.33],
 ['141', 'Aiman', '84', '92', '78', 84.67, 84.67],
 ['142', 'Yasmeen', '85', '36', '56', 59.0, 59.0],
 ['143', 'Tasbeel', '86', '78', '78', 80.67, 80.67],
 ['144', 'Laraib', '87', '56', '54', 65.67, 65.67],
 ['145', 'Saleem', '88', '78', '78', 81.33, 81.33],
 ['146', 'Bismil', '89', '89', '46', 74.67, 74.67],
 ['147', 'Batool', '90', '56', '79', 75.0, 75.0],
 ['148', 'Iqra', '91', '33', '46', 56.67, 56.67],
 ['149', 'Zarnish', '92', '78', '45', 71.67, 71.67],
 ['150', 'Zara', '83', '45', '56', 61.33, 61.33]]

In [36]:
updated=open('new student mark.csv',mode='w')
updated

In [39]:
writer = csv.writer (updated)
writer

In [40]:
writer.writerows(data)

In [41]:
updated.close()

In [45]:
updated1 =open('new student marks part 2.csv',mode='w', newline='')
writer1=csv.writer(updated1)
writer1.writerows(data)
updated1.close()